<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="list.css">
    <meta charset="UTF-8">
    <title>Simple list</title>
</head>
<body>
    <section class="list">
        <ul class="roomList" id="roomList">
            <li>asdf</li>
        </ul>
        
        <article class="createRoom" id="roomCreate_box">
            <h1>방 생성</h1>
            방 이름<input type="text" id="createRoom_name">
            <input type="submit" value="방 생성">
        </article>
        <button class="addRoom" id="roomCreate_v">+</button>
    </section>
    <script src="list.js"></script>
</body>
</html>